page-pedidos-view {
    th, td {
        padding: 5px;
    }
    th {
        text-align: left;
    }
    .priceStyle {
        background-color: lightblue;
        display: flex;
        flex-direction: column;

        width: 100px; 
        height: 50px; 
        border-radius: 2px;
    }
    .numericColumn {
        
        text-align: right;
    }
}
